{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="bg-green-700 py-8 flex-grow">
    <div class="max-w-3xl md:max-w-5xl mx-auto p-4">
        <div class="bg-white rounded-xl overflow-hidden drop-shadow">
            <div class="relative aspect-w-16 aspect-h-4">
            {% if page.image %}
                {% picture page.image format-{webp,avif,jpeg} fill-1024x320 bgcolor-3730a3 %}
            {% else %}
                <div class="h-80 bg-gray-300"></div>
            {% endif %}
                <div class="h-full absolute top-0 p-4 w-full flex flex-col-reverse md:flex-row items-start md:items-end justify-between bg-gradient-to-t to-transparent from-yellow-500">
                    <h1 class="font-bold text-4xl mb-0 text-black drop-shadow">
                        {{ page.title }}
                    </h1>
                    <div class="flex ml-auto items-center gap-4">
                        <p>{{ page.hero_text }}</p>
                        {% if page.hero_cta_link %}
                        <a href="{% pageurl page.hero_cta_link %}" class="bg-blue-700 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors drop-shadow">
                            {% firstof page.hero_cta page.hero_cta_link.title %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <article class="prose w-full max-w-none p-4">
                {{ page.body|richtext }}
            </article>
        </div>
    </div>
</div>


{% endblock content %}