Django
wagtail>=6.0
django-allauth
djangorestframework

# pytz for timezone support
pytz

# Ruff for linting and formatting
ruff

# markdown for markdown support
django-markup

# django crontab for cron jobs
django-crontab