{% load wagtailcore_tags wagtailimages_tags %}

<div id="blog-route-map" style="width: 100%; height: 400px;"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet-curve@1.0.0/leaflet.curve.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var map = L.map('blog-route-map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var posts = [
            {% for post in blog_posts %}
                {% for location in post.location.all %}
                    {
                        title: "{{ post.title|escapejs }}",
                        date: "{{ post.date|date:"Y-m-d" }}",
                        url: "{% pageurl post %}",
                        lat: {{ location.latitude }},
                        lng: {{ location.longitude }},
                        locationName: "{{ location.name|escapejs }}"
                    },
                {% endfor %}
            {% endfor %}
        ];

        var itinerary = {
            id: "{{ itinerary.id }}",
            name: "{{ itinerary.name|escapejs }}",
            description: "{{ itinerary.description|escapejs }}",
            stops: [
                {% for stop in itinerary.stops %}
                    {
                        id: "{{ stop.title|escapejs }}",
                        start_date: "{{ stop.start_date|date:"Y-m-d" }}",
                        end_date: "{{ stop.end_date|date:"Y-m-d" }}",
                        name: "{{ stop.name|escapejs }}",
                        description: "{{ stop.description|escapejs }}",
                        latitude: {{ stop.latitude }},
                        longitude: {{ stop.longitude }}
                    },
                {% endfor %}
            ]
        }

        var markers = [];
        var latlngs = [];

        var itinerarylatlngs = [];

        posts.forEach(function(post, index) {
            var marker = L.marker([post.lat, post.lng]).addTo(map);
            marker.bindPopup('<strong>' + post.title + '</strong><br>' + post.date + '<br>' + post.locationName + '<br><a href="' + post.url + '">Read more</a>');
            markers.push(marker);
            latlngs.push([post.lat, post.lng]);
        });

        // the stops can be displayed a bit less prominently, perhaps a bit smaller and transparent
        itinerary.stops.forEach(function(stop, index) {
            var marker = L.marker([stop.latitude, stop.longitude], {icon: L.divIcon({className: 'itinerary-stop-icon', html: '<span class="whitespace-nowrap drop-shadow bg-blue-700 text-white p-1 px-2 rounded">' + (index + 1) + '. ' + stop.name + '</span>'})}).addTo(map);
            marker.bindPopup('<strong>' + stop.name + '</strong><br>' + stop.start_date + ' - ' + stop.end_date + '<br>' + stop.description);
            markers.push(marker);
            itinerarylatlngs.push([stop.latitude, stop.longitude]);
        });

        if (markers.length > 0) {
            var group = new L.featureGroup(markers);
            map.fitBounds(group.getBounds().pad(0.1));

            // Create curved lines
            for (var i = 0; i < latlngs.length - 1; i++) {
                var latlng1 = latlngs[i];
                var latlng2 = latlngs[i + 1];
                
                var offsetX = latlng2[1] - latlng1[1];
                var offsetY = latlng2[0] - latlng1[0];
                
                var r = Math.sqrt(Math.pow(offsetX, 2) + Math.pow(offsetY, 2));
                var theta = Math.atan2(offsetY, offsetX);
                
                var thetaOffset = 3.14 / 10;
                
                var r2 = (r / 2) / (Math.cos(thetaOffset));
                var theta2 = theta + thetaOffset;
                
                var midpointX = (r2 * Math.cos(theta2)) + latlng1[1];
                var midpointY = (r2 * Math.sin(theta2)) + latlng1[0];
                
                var midpointLatLng = [midpointY, midpointX];
                
                var curvedLine = L.curve(
                    [
                        'M', latlng1,
                        'Q', midpointLatLng,
                        latlng2
                    ], {color: 'rgb(21, 128, 61)', fill: false}
                ).addTo(map);
            }
        }

        if (itinerarylatlngs.length > 0) {
            itinerarylatlngs.map(function(latlng, index) {
                if (index < itinerarylatlngs.length - 1) {
                    var latlng1 = latlng;
                    var latlng2 = itinerarylatlngs[index + 1];
                    
                    var offsetX = latlng2[1] - latlng1[1];
                    var offsetY = latlng2[0] - latlng1[0];
                    
                    var r = Math.sqrt(Math.pow(offsetX, 2) + Math.pow(offsetY, 2));
                    var theta = Math.atan2(offsetY, offsetX);
                    
                    var thetaOffset = 3.14 / 10;
                    
                    var r2 = (r / 2) / (Math.cos(thetaOffset));
                    var theta2 = theta + thetaOffset;
                    
                    var midpointX = (r2 * Math.cos(theta2)) + latlng1[1];
                    var midpointY = (r2 * Math.sin(theta2)) + latlng1[0];
                    
                    var midpointLatLng = [midpointY, midpointX];

                    // blue is 30 64 175
                    // yellow is 234 179 8

                    // make the lines gradient from blue to yellow
                    // the first stop should be blue, the last stop should be yellow
                    // the stops in between should be gradually changing from blue to yellow
                    // for example, the first stop should be 30 64 175, the second stop should be more blue than yellow, the stop before the last stop should be almost yellow, the last stop should be 234 179 8

                    var red = 30 + (234 - 30) * (index / (itinerarylatlngs.length - 1));
                    var green = 64 + (179 - 64) * (index / (itinerarylatlngs.length - 1));
                    var blue = 175 + (8 - 175) * (index / (itinerarylatlngs.length - 1));

                    var color = 'rgba(' + red + ', ' + green + ', ' + blue + ', 0.75)';
                    
                    var curvedLine = L.curve(
                        [
                            'M', latlng1,
                            'Q', midpointLatLng,
                            latlng2
                        ], {
                            color: color,
                            fill: false
                        }
                    ).addTo(map);
                }
            });
        }
    });
</script>