<div class="p-8 flex-grow">
    <h2 class="text-2xl">Comments</h2>

    <ul id="commentsList" class="mt-4 rounded-lg">
        <li class="bg-slate-300 p-4 rounded-lg h-12 mt-4 animate-pulse"></li>
        <li class="bg-slate-300 p-4 rounded-lg h-12 mt-4 animate-pulse"></li>
        <li class="bg-slate-300 p-4 rounded-lg h-12 mt-4 animate-pulse"></li>
    </ul>

    {% if user.is_authenticated %}

    <form id="commentForm" class="mt-8">

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="post" value="{{ page.id }}" />
        <input type="hidden" name="id" value="" />
        <input type="hidden" id="parentCommentId" name="parent_comment" value="" />

        <small class="text-gray-500">You are commenting as
            <strong>{{ user.first_name|default:user.username }}</strong></small>

        <small id="replyingToContainer" class="hidden bg-gray-50 border border-gray-300 mt-1 px-2 py-1 rounded text-gray-500 font-semibold">You are replying to: <br> <span class="text-black font-normal" id="replyingTo"></span></small>

        <div class="flex flex-col gap-4">
            <label for="body" class="text-lg">Comment</label>
            <textarea name="body" id="commentBody" class="p-4 bg-gray-100 rounded-lg" rows="4" required></textarea>
        </div>

        <div class="flex flex-col gap-4">
            <button type="submit"
                class="bg-blue-700 text-white px-4 py-2 mt-4 rounded-lg no-underline hover:text-amber-300 transition-colors drop-shadow">
                Submit
            </button>
        </div>
    </form>

    {% else %}

    <div class="mt-8" id="commentFormLogin">
        <p class="text-lg">You need to be logged in to comment.</p>
        <a href="{% url 'account_login' %}?next={{request.path}}"
            class="text-blue-800 hover:text-blue-900 transition-colors hover:underline">Login</a>
        <a href="{% url 'account_signup' %}?next={{request.path}}"
            class="text-blue-800 hover:text-blue-900 transition-colors hover:underline ml-2">Register</a>
    </div>

    {% endif %}

</div>

<script type="text/javascript">
    function fetchComments() {
        return fetch("/blog/api/comments/?post={{ page.id }}").then(
            (response) => response.json(),
        );
    }

    function deleteComment(commentId) {
        return fetch(`/blog/api/comments/${commentId}/`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": document.querySelector(
                    'input[name="csrfmiddlewaretoken"]',
                ).value,
            },
        });
    }

    function renderSingleComment(comment, parent) {

        const li = document.createElement("li");
        li.id = `comment-${comment.id}`;

        // nested level (0 is no parent, 2 is a reply to a reply)
        // put in a data-attribute data-level
        let level = 0;

        if (parent) {
            const parentCommentEl = document.getElementById(`comment-${parent?.id}`);
            const parentLevel = parentCommentEl ? parseInt(parentCommentEl.dataset.level) : 0;
            level = parentLevel + 1;
        }

        li.dataset.level = level;

        li.classList.add(
            "bg-slate-100",
            "p-4",
            "rounded-lg",
            "mt-4",
            "relative",
        );

        // if the comment has a parent, indent it + the indentation of the parent
        if (parent) {
            const parentLi = document.getElementById(`comment-${parent.id}`);
            const parentIndentation = parseInt(parentLi.style.marginLeft || 0);
            li.style.marginLeft = `${parentIndentation + 24}px`;
        }

        const author = document.createElement("p");
        author.classList.add("text-lg", "font-bold");
        author.textContent =
            comment.author_details.first_name ||
            comment.author_details.username ||
            "João Ninguém";
        li.appendChild(author);

        const date = document.createElement("p");
        date.classList.add("text-sm", "text-gray-500");
        // format locale-agnostic but without seconds
        date.textContent = new Date(comment.created_date).toLocaleString(
            undefined,
            {
                year: "numeric",
                month: "long",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
            },
        );
        li.appendChild(date);

        const body = document.createElement("p");
        body.classList.add("mt-2", "prose");
        body.innerHTML = comment.rendered_body;
        li.appendChild(body);

        const likeButton = document.createElement("button");
        likeButton.classList.add(
            "mt-2",
            "text-sm",
            "text-gray-600",
            "hover:text-gray-800",
            "transition-colors",
        );
        if (comment.liked_by_user) {
            likeButton.classList.add("text-red-500");
        }
        likeButton.innerHTML = `<span class="text-xl">😻</span> <span class="like-count">${comment.like_count}</span>`;
        likeButton.addEventListener("click", function () {
            likeComment(comment.id).then((data) => {
                likeButton.querySelector(".like-count").textContent = data.like_count;
                likeButton.classList.toggle("text-red-500", data.liked);
            });
        });
        li.appendChild(likeButton);

        const editButton = document.createElement("button");
        editButton.classList.add(
            "absolute",
            "top-2",
            "right-16",
            "text-blue-500",
            "hover:text-blue-700",
            "hover:underline",
            "transition-colors",
        );
        editButton.textContent = "Edit";
        editButton.addEventListener("click", function () {
            document.getElementById("commentBody").value = comment.body;
            document.getElementById("commentForm").querySelector('input[name="id"]').value = comment.id;
            document.getElementById("parentCommentId").value = comment.parent_comment || "";
            document.getElementById("replyingTo").textContent = "";
            document.getElementById("replyingToContainer").classList.add("hidden");
            document.getElementById("replyingToContainer").classList.remove("block");
            document.getElementById("commentBody").focus();
        });
        li.appendChild(editButton);

        const deleteButton = document.createElement("button");
        deleteButton.classList.add(
            "absolute",
            "top-2",
            "right-2",
            "text-red-500",
            "hover:text-red-700",
            "hover:underline",
            "transition-colors",
        );
        deleteButton.textContent = "Delete";
        deleteButton.addEventListener("click", function () {
            if (confirm("Are you sure you want to delete this comment?")) {
                deleteComment(comment.id).then(() => {
                    fetchComments().then(renderComments);
                });
            }
        });

        li.appendChild(deleteButton);

        if (level < 4) {
            const replyButton = document.createElement("button");
            replyButton.classList.add(
                "absolute",
                "bottom-2",
                "right-2",
                "text-blue-500",
                "hover:text-blue-700",
                "hover:underline",
                "transition-colors",
            );
            replyButton.textContent = "Reply";
            replyButton.addEventListener("click", function () {
                document.getElementById("commentBody").focus();
                document.getElementById("parentCommentId").value = comment.id;
                document.getElementById("replyingTo").innerHTML = `@${comment.author_details.username} - ${comment.rendered_body}`;
                document.getElementById("replyingToContainer").classList.remove("hidden");
                document.getElementById("replyingToContainer").classList.add("block");
                document.getElementById("commentBody").focus();
            });
    
            li.appendChild(replyButton);
        }

        commentsList.appendChild(li);

        if (comment.replies.length > 0) {
            console.log("rendering replies")
            comment.replies.forEach((reply) => renderSingleComment(reply, comment));
        }
    }

    function renderComments(comments) {
        const commentsList = document.getElementById("commentsList");
        commentsList.innerHTML = "";
        comments
            .filter((comment) => !comment.parent_comment)
            .forEach((comment) => renderSingleComment(comment, null));
    }

    function resetForm() {
        document.getElementById("commentForm").reset();
        document.getElementById("commentForm").querySelector('input[name="id"]').value = "";
        document.getElementById("parentCommentId").value = "";
        document.getElementById("replyingToContainer").classList.add("hidden");
        document.getElementById("replyingToContainer").classList.remove("block");
        document.getElementById("replyingTo").textContent = "";
    }

    const onCommentFormSubmit = function (event) {
        event.preventDefault();
        const form = document.getElementById("commentForm");
        const formData = new FormData(form);

        // check if the comment is new or an edit
        const commentId = form.querySelector('input[name="id"]').value;

        const url = commentId
            ? `/blog/api/comments/${commentId}/`
            : "/blog/api/comments/";

        const method = commentId ? "PUT" : "POST";

        fetch(url, {
            method: method,
            body: formData,
            headers: {
                "X-CSRFToken": document.querySelector(
                    'input[name="csrfmiddlewaretoken"]',
                ).value,
            },
        })
            .then(async (response) => {
                if (response.status >= 400) {
                    const message = await response.json();
                    throw new Error(message.detail);
                }

                // reset the form
                resetForm();

                return response.json();
            })
            .then((data) => {
                fetchComments().then(renderComments);
            })
            .catch((error) => {
                console.error("Error:", error);
                const errorMessage = error || "An error occurred. Please try again.";
                alert(errorMessage);
            });
    };

    function likeComment(commentId) {
        return fetch(`/blog/api/comment-likes/${commentId}/toggle_like/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": document.querySelector(
                    'input[name="csrfmiddlewaretoken"]',
                ).value,
            },
        }).then(response => response.json());
    }

    document.addEventListener("DOMContentLoaded", function () {
        fetchComments().then(renderComments);

        const commentForm = document.getElementById("commentForm")

        if (commentForm) {
            commentForm.addEventListener("submit", onCommentFormSubmit);

            document
                .getElementById("commentBody")
                .addEventListener("keydown", function (event) {
                    if ((event.metaKey || event.ctrlKey) && event.key === "Enter") {
                        onCommentFormSubmit(event);
                    }
                });
        }

    });

</script>