{% load wagtailcore_tags wagtailimages_tags user_tags %}

<div class="max-w-3xl md:max-w-5xl mx-auto drop-shadow-lg">

    <div class="transition p-4 rounded-lg relative min-h-16">
    
        <form id="filterForm" method="get" action="" class="flex flex-row gap-2 items-end">
            <div>
                <h3 class="sr-only">Filter by Author</h3>
                <label for="author" class="block text-sm font-medium text-white mb-1">Author:</label>
                <div class="flex flex-wrap gap-2">
                    {% for author in authors %}
                    <button type="submit" name="author" value="{{ author.username }}" title="{% user_display_name author %}" class="flex bg-white justify-center items-center border-4 aspect-square rounded-full shadow-sm {% if request.GET.author == author.username %} border-yellow-500 {% else %} border-transparent {% endif %}">
                        {% if author.wagtail_userprofile.avatar %}
                            {% user_avatar author 'aspect-square w-8 h-8 rounded-full object-cover' %}
                        {% else %}
                        <svg class="w-8 h-8 rounded-full object-cover" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 100-6 3 3 0 000 6z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21v-2a4 4 0 00-4-4H7a4 4 0 00-4 4v2"></path>
                        </svg>
                        {% endif %}
                        <span class="sr-only">{{ author.get_full_name|default:author.username }}</span>
                    </button>
                    {% endfor %}
                </div>
            </div>
        
            <div>
                <h3 class="sr-only">Filter by Date</h3>
                <div class="flex flex-wrap gap-2">
                    <div>
                        <label for="date_from" class="block text-sm font-medium text-white mb-1">From:</label>
                        <input type="date" id="date_from" name="date_from" value="{{ request.GET.date_from }}" class="mt-1 block w-full h-10 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div>
                        <label for="date_to" class="block text-sm font-medium text-white mb-1">To:</label>
                        <input type="date" id="date_to" name="date_to" value="{{ request.GET.date_to }}" class="mt-1 block w-full h-10 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                </div>
            </div>

            <div>
                <h3 class="sr-only">Search term</h3>
                <label for="query" class="block text-sm font-medium text-white mb-1">Search:</label>
                <input type="query" id="query" name="query" placecholder="Search query" value="{{ request.GET.query }}" class="mt-1 block w-full h-10 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>

            <div class="flex self-end ml-auto items-center gap-2">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded transition opacity-50 cursor-not-allowed" id="submitButton" disabled="false">
                    Search
                    <span>&rarr;</span>
                </button>
                <a href="{% pageurl page %}" class="bg-gray-300 text-gray-700 px-4 py-2 rounded transition {% if not active_filters %} opacity-50 cursor-not-allowed {% else %} hover:bg-gray-400 {% endif %}" id="resetButton">
                    Reset
                    <span>&times;</span>
                </a>
            </div>
        </form>
        {% if context.active_filters %}
        <span>Active filters exist</span>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        const form = document.getElementById('filterForm');
        const submitButton = document.getElementById('submitButton');

        // if the form values change, enable the submit button
        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('change', function() {
                submitButton.disabled = false;
                submitButton.classList.remove('cursor-not-allowed', 'opacity-50');
                submitButton.classList.add('hover:bg-blue-600');
            });
        });

        const authorButtons = document.querySelectorAll('button[name="author"]');

        authorButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                
                // check if active by getting author url param
                const isActive = new URLSearchParams(window.location.search).get('author') === button.value;

                // if active, remove the author param
                if (isActive) {
                    const url = new URL(window.location.href);
                    url.searchParams.delete('author');
                    window.location.href = url;
                } else {
                    // if not active, add the author param
                    const url = new URL(window.location.href);
                    url.searchParams.set('author', button.value);
                    window.location.href = url;
                }
                
            });
        });
    });
</script>