{% load wagtailcore_tags wagtailimages_tags user_tags %}

{% block content %}
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for picture in page.gallery_images.all %}
        <div id="{{forloop.counter0}}" class="open-image-modal bg-white rounded-xl overflow-hidden drop-shadow group hover:rotate-3 transition-transform relative cursor-pointer" >
            {% image picture.image fill-1920x1080-c100 %}
            <div class="image-caption text-lg md:text-sm p-2 font-semibold header-text-color" id="{{forloop.counter0}}">{{picture.caption}}</div>
            <div class="image-modal-info hidden" id={{forloop.counter0}}>
                {% image picture.image original class="image-modal-image" %}
                <div>{{ picture.caption }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    const galleryItems = document.querySelectorAll(".open-image-modal");
    const imageCaptions = document.querySelectorAll(".image-caption");

    // Function to show the image caption, if there is one, on hovering
    galleryItems.forEach(item => item.addEventListener("mouseover", () => {
        var itemID = item.id;
        var index = itemID++;
        if (imageCaptions[index].textContent) {
            imageCaptions[index].style.display = "flex";
        }
    }));

    // Function to hide the image caption again when mouse leaves
    galleryItems.forEach(item => item.addEventListener("mouseleave", () => {
        var itemID = item.id;
        var index = itemID++;
        imageCaptions[index].style.display = "none";
    }));
</script>

<style>
    .image-caption {
        display: none;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        background-image: linear-gradient(to top, var(--tw-gradient-stops));
        --tw-gradient-from: #eab308 var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(234 179 8 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
</style>

{% endblock %}