{% load wagtailcore_tags wagtailimages_tags user_tags %}

{% block content %}
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for picture in page.gallery_images.all %}
        <div class="open-image-modal bg-white rounded-xl overflow-hidden drop-shadow group hover:rotate-3 transition-transform">
            {% image picture.image fill-1920x1080-c100 %}
            {% if picture.caption%}
                <div class="pl-2 p-1">{{ picture.caption }}</div>
            {% endif %}
            <div class="image-modal-info hidden" id={{forloop.counter0}}>
                {% image picture.image original class="image-modal-image" %}
                <div>{{ picture.caption }}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}