{% load i18n static wagtailcore_tags wagtailimages_tags user_tags %}

{% block content %}
<div class="image-modal">
    <span class="close-image-modal">&times;</span>
    <div class="image-modal-content flex flex-col items-center gap-2 p-8">
        <img src="" alt="" class="image-modal-image">
        <p class="image-modal-caption text-white"></p>
    </div>
    <a id="prev" class="prev">&#10094;</a>
    <a id="next" class="next">&#10095;</a>
    </div>

<script>
    // Get the image gallery element that opens the modal
    const openModals = document.querySelectorAll('.open-image-modal');
    
    // Get modal elements by their class names
    const modal = document.querySelector(".image-modal");
    const modalContent = document.querySelector('.image-modal-content');
    const closeModal = document.querySelector(".close-image-modal");
    const prev = document.querySelector(".prev");
    const next = document.querySelector(".next");

    var currentImageID;

    // For each open-modal element check if it is clicked and open the clicked info
    openModals.forEach(btn => btn.addEventListener('click', () => {
        const modalinfo = searchForClass(btn, 'image-modal-info');
        setCurrentImageID(modalinfo);
        setModalContent(modalinfo);
        modal.style.display = "block";
    }))

    // Close modal if the close button is clicked
    closeModal.addEventListener('click', () => {
        modal.style.display = "none";
    })

    // Close modal if the user clicks anywhere outside of the modals content
    modal.addEventListener('click', (e) => {
        if(e.target.className === 'image-modal') {
            modal.style.display = "none";
        }
    })

    // Function triggerd by pressing the next button, to see the next picture in the gallery
    next.addEventListener('click', () => {
        const nextIndex = currentImageID == openModals.length - 1 ? 0 : currentImageID + 1;
        const modalinfo = searchForClass(openModals[nextIndex], 'image-modal-info');
        setModalContent(modalinfo);
        setCurrentImageID(modalinfo);
    })

    // Function triggerd by pressing the previous button, to see the previous picture in the gallery
    prev.addEventListener('click', () => {
        const previousIndex = currentImageID == 0 ? openModals.length - 1 : currentImageID - 1;
        const modalinfo = searchForClass(openModals[previousIndex], 'image-modal-info');
        setModalContent(modalinfo);
        setCurrentImageID(modalinfo);
    })

    // Return the item from an array with the correct class
    function searchForClass (array, className) {
        var classItem;
        array.childNodes.forEach((item) => {
            const itemClass = item?.attributes?.class;
            if (itemClass != undefined && itemClass.value.includes(className)) {
                classItem = item;
            }
        })
        return classItem;
    }

    // Function to set the modal content based on the modalinfo
    function setModalContent(modalinfo) {
        modalContent.querySelector(".image-modal-image").outerHTML = modalinfo.children[0].outerHTML;
        modalContent.querySelector(".image-modal-caption").textContent = modalinfo.children[1].textContent;
    }

    // Function to set the currrentImageID based on the modalinfo
    function setCurrentImageID(modalinfo) {
        var imageID = modalinfo.id;
        currentImageID = imageID++;
    }
</script>

<style>
    .image-modal {
        display: none; 
        position: fixed; 
        z-index: 10; 
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .close-image-modal {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close-image-modal:hover,
    .close-image-modal:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 50px;
        color: white;
        font-weight: bold;
        font-size: 36px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
{% endblock %}

