{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/brazil_blog_compiled.css' %}">

        {# Favicon #}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.png' %}">

        {# OG tags & other meta tags / icons #}
        {% block meta %}
        <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:description" content="{{ page.search_description }}" />
        <meta property="og:image" content="{% image page.header_image width-1200 as header_image %}{{ header_image.url }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        {% endblock %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} flex flex-col min-h-screen">
        {% wagtailuserbar %}

        {% include "includes/header.html" %}
    
        {% block content %}{% endblock %}
    
        {# Add this to the file: #}
        {% include "includes/footer.html" %}
    
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/brazil_blog.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/add_drink.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/add_animal.js' %}"></script>
    
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script type="text/javascript">
            // Lazy load images
            document.addEventListener("DOMContentLoaded", function() {
                var lazyloadImages = document.querySelectorAll("img.lazyload");
                var lazyloadThrottleTimeout;
                function lazyload () {
                    if(lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }
                    lazyloadThrottleTimeout = setTimeout(function() {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function(img) {

                            if (!img.classList.contains('lazyload')) {
                                return;
                            }

                            if(img.offsetTop < (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;                                
                                img.onload = function() {
                                    img.classList.remove('lazyload', 'blur', 'scale-105');
                                };
                            }
                        });
                        if(lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }
                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
                lazyload();
            });
        </script>
    </body>
</html>
