{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}

<div class="bg-green-700 py-8 flex-grow">
    <div class="bg-white rounded-xl w-full block drop-shadow p-4 mx-auto prose">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
