{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags user_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% block content %}

<div class="bg-green-700 py-8 flex-grow">
    <div class="max-w-3xl md:max-w-5xl mx-auto p-4">
        <div class="bg-white rounded-xl overflow-hidden drop-shadow">

            <!-- Header -->
            <div class="relative size-full aspect-[16/9]">
                {% if page.image %}
                    {% picture page.image format-{webp,avif,jpeg} original class="blog-header-image" bgcolor-3730a3 %}
                {% else %}
                    <div class="h-full w-full bg-gray-300"></div>
                {% endif %}
                <div class="h-full absolute top-0 p-4 w-full flex flex-col justify-end bg-gradient-to-t to-transparent from-yellow-500">
                    <div class="flex items-end justify-between gap-4">
                        <div class="flex-col w-4/5">
                            <h1 class="header-text-color flex-wrap font-bold text-xl md:text-4xl mb-0 overflow-scroll line-clamp-3">{{ page.title }}</h1>
                            <div class="text-sm italic">{{ page.specific.date | date:"d-m-Y H:i" }}</div>
                            <div id="like-section">
                                <span id="like-count">{{ page.like_count }}</span> likes
                                {% if user.is_authenticated %}
                                    <button id="like-button" data-post-id="{{ page.id }}">
                                        {% if user in page.likes.all %}
                                            Unlike
                                        {% else %}
                                            Like
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        {% if page.author.author_page %}
                            <a href="{{ page.author.author_page.url }}" class="flex flex-row items-center gap-2 hover:underline">
                                <p class="text-sm italic hidden sm:block">{% post_user_display_name page %}</p>
                                {% post_user_avatar page 'w-10 h-10 rounded-full object-cover sm:w-16 sm:h-16' %}
                            </a>
                        {% else %}
                            <div class="flex flex-row items-center gap-4">
                                <p class="hidden sm:flex text-sm italic">{% post_user_display_name page %}</p>
                                {% post_user_avatar page %}
                            </div>
                        {% endif %}
                    </div>
                    {% if page.hero_text %}
                        <div class="flex ml-auto items-center gap-4">
                            {{ page.hero_text }}
                            {% if page.hero_cta_link %}
                                <a href="{% pageurl page.hero_cta_link %}" class="bg-blue-700 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors drop-shadow">
                                    {% firstof page.hero_cta page.hero_cta_link.title %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Body -->
            <div class="flex flex-col p-4 gap-4">
                <div class="font-light">
                    {{ page.intro }}
                </div>
                <div>
                    {{ page.body|richtext }}
                </div>

                <!-- Google drive video -->
                {% if preview_url %}
                    <div class="aspect-video">
                        <iframe 
                            src="{{preview_url}}" 
                            title="Video player"
                            class="h-full w-full bg-slate-300 rounded-xl"
                            frameBorder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowFullScreen
                            loading="lazy"
                        ></iframe>
                    </div>
                {% endif %}

                <!-- Image Gallery -->
                {% include "blog/includes/image-grid.html" with pictures=page.gallery_images.all %}
            </div>
            
            <!-- Comments -->
            <div class="inline-block w-full">
                {% include "blog/includes/comments.html" with page=page %}
            </div>

            <!-- Return to blog button -->
            <a href="{{ page.get_parent.url }}" class="inline-block w-full p-4 bg-gray-100 text-center hover:bg-gray-200 transition-colors">
                🔙 {% trans "Return to blog" %}
            </a>
        </div>

        <!-- Image modal -->
        {% include "blog/includes/image-modal.html" %}
    </div>
</div>

<script>
    document.getElementById('like-button').addEventListener('click', function() {
        const postId = this.dataset.postId;
        fetch(`/blog/api/likes/${postId}/toggle_like/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('like-count').textContent = data.like_count;
            this.textContent = data.liked ? 'Unlike' : 'Like';
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% include "blog/includes/tukanchamon.html" %}
{% include "blog/includes/cuica-course-form.html" %}
{% endblock %}