{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags user_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% block content %}

<div class="bg-green-700 py-8 flex-grow">
    <div class="max-w-3xl md:max-w-5xl mx-auto p-4">
        <div class="bg-white rounded-xl overflow-hidden drop-shadow">

            <!-- Header -->
            <div class="relative size-full aspect-[16/9]">
                {% if page.image %}
                    {% picture page.image format-{webp,avif,jpeg} original class="blog-header-image" bgcolor-3730a3 %}
                {% else %}
                    <div class="h-full w-full bg-gray-300"></div>
                {% endif %}
                <div class="absolute top-0 right-0 flex flex-row z-10 items-center p-2 gap-2">
                    <div id="like-section" class="flex items-center">
                        <button 
                            id="like-button" 
                            data-post-id="{{ page.id }}"
                            data-is-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}"
                            class="flex items-center space-x-2 px-2 py-1 rounded-full transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600
                            {% if user in page.likes.all %}
                                bg-blue-500 text-white hover:bg-blue-700
                            {% else %}
                                bg-green-600 text-gray-700 {% if user.is_authenticated %} hover:bg-green-700 {% endif %} bg-opacity-80
                            {% endif %}
                            disabled={% if not user.is_authenticated %}true{% endif %}
                        ">
                            <div class="text-xl rounded-full -translate-y-0.5">😻</div>
                            <div class="group">
                                <div id="like-count" data-post-id="{{ page.id }}" class="font-bold text-white drop-shadow">{{ page.like_count }}</div>
                                    <ul
                                    id="like-list"
                                    class="absolute top-10 right-4 min-w-24 w-max max-h-24 overflow-auto flex flex-col items-start z-30 px-4 py-2 bg-blue-500 rounded-3xl opacity-0 pointer-events-none hover:opacity-100 group-hover:opacity-100 group-hover:pointer-events-auto group-hover:drop-shadow transition">    
                                        {% for user in page.likes.all %}
                                            <li id="like-list-user" class="text-sm">
                                                {% user_display_name user %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                            </div>
                        </button>
                    </div>
                    {% if user.is_authenticated %}
                        {% include "blog/includes/subscribe-author.html" with author=page.author user=user class="h-10 w-10 bg-opacity-80" %}
                    {% endif %}
                </div>
                <div class="h-full absolute top-0 p-4 w-full flex flex-col justify-end gap-2 bg-gradient-to-t to-transparent from-yellow-500">

                    <div class="flex justify-between gap-4">
                        <div class="flex-col flex-1">
                            <h1 class="header-text-color flex-wrap font-bold text-xl md:text-4xl line-clamp-3">{{ page.title }}</h1>
                            <div class="flex justify-between items-center" style="-webkit-justify-content: space-between">
                                <div class="flex flex-col">
                                    <div class="text-sm italic">{{ page.specific.date | date:"d-m-Y H:i" }}</div>
                                    <div class="text-sm">
                                        {% for location in page.location.all %}
                                        📍{{location.name}}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if page.author.author_page %}
                                    <a href="{{ page.author.author_page.url }}" class="flex flex-row items-center gap-2 hover:underline">
                                        <p class="text-sm italic hidden sm:block">{% post_user_display_name page %}</p>
                                        {% post_user_avatar page 'w-10 h-10 rounded-full object-cover sm:w-12 sm:h-12' %}
                                    </a>
                                {% else %}
                                    <div class="flex flex-row items-center gap-4">
                                        <p class="hidden sm:flex text-sm italic">{% post_user_display_name page %}</p>
                                        {% post_user_avatar page %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    {% if page.hero_text %}
                        <div class="flex ml-auto items-center gap-4">
                            {{ page.hero_text }}
                            {% if page.hero_cta_link %}
                                <a href="{% pageurl page.hero_cta_link %}" class="bg-blue-700 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors drop-shadow">
                                    {% firstof page.hero_cta page.hero_cta_link.title %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Body -->
            <div class="flex flex-col p-4 gap-4">
                <div class="font-light">
                    {{ page.intro }}
                </div>
                <div>
                    {{ page.body|richtext }}
                </div>

                <!-- Google drive video -->
                {% if preview_url %}
                    <div class="aspect-video">
                        <iframe 
                            src="{{preview_url}}" 
                            title="Video player"
                            class="h-full w-full bg-slate-300 rounded-xl"
                            frameBorder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowFullScreen
                            loading="lazy"
                        ></iframe>
                    </div>
                {% endif %}

                <!-- Image Gallery -->
                {% include "blog/includes/image-grid.html" with pictures=page.gallery_images.all %}
            </div>
            
            <!-- Comments -->
            <div class="inline-block w-full">
                {% include "blog/includes/comments.html" with page=page %}
            </div>

            <!-- Return to blog button -->
            <a href="{{ page.get_parent.url }}" class="inline-block w-full p-4 bg-gray-100 text-center hover:bg-gray-200 transition-colors">
                🔙 {% trans "Return to blog" %}
            </a>
        </div>

        <!-- Image modal -->
        {% include "blog/includes/image-modal.html" %}
    </div>
</div>

<script>
    const likeButton = document.getElementById('like-button');
    const likeCount = document.getElementById('like-count');
    const likeText = document.getElementById('like-text');
    const likeList = document.getElementById('like-list');
    const likeListUser = document.getElementById('like-list-user');

    const showLoginDialog = () => {
        const backdrop = document.createElement('div');
        backdrop.classList.add('fixed', 'inset-0', 'bg-black', 'bg-opacity-50', 'z-50');

        // connect the backdrop to the document
        document.body.appendChild(backdrop);

        const dialog = document.createElement('dialog');
        dialog.classList.add('justify-center', 'bg-white', 'rounded-lg', 'drop-shadow-lg', 'p-4');
        dialog.innerHTML = `
            <div>
                <h2 class="text-xl font-bold mb-4">You need to be logged in to like this post</h2>
                <div class="flex gap-4 justify-center">
                    <a href="/accounts/login/?next={{ request.path }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors">Login</a>
                    <a href="/accounts/signup/" class="bg-green-600 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors">Sign up</a>
                </div>
            </div>
        `;

        // connect the dialog to the document
        document.body.appendChild(dialog);

        dialog.showModal();

        dialog.addEventListener('click', function() {
            dialog.close();

            // remove the dialog from the document
            dialog.remove();

            // remove the backdrop from the document
            backdrop.remove();
        });
    }

    likeButton.addEventListener('click', function() {

        const isAuthenticated = this.dataset.isAuthenticated;

        if (isAuthenticated === 'false') {

            showLoginDialog();

            return;
        }

        const postId = this.dataset.postId;
        fetch(`/blog/api/likes/${postId}/toggle_like/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            likeCount.textContent = data.like_count;
            if (data.liked) {
                likeButton.classList.remove('bg-green-600', 'text-gray-700', 'hover:bg-green-700', 'bg-opacity-80');
                likeButton.classList.add('bg-blue-600', 'text-white', 'hover:bg-blue-700');
            } else {
                likeButton.classList.remove('bg-blue-600', 'text-white', 'hover:bg-blue-700');
                likeButton.classList.add('bg-green-600', 'text-gray-700', 'hover:bg-green-700', 'bg-opacity-80');
            }
            if (data.like_count > 0) {
                likeList.classList.add('group-hover:opacity-100', 'hover:opacity-100');
            } else {
                likeList.classList.remove('group-hover:opacity-100', 'hover:opacity-100');
            }
        });
    });

    likeCount.addEventListener('mouseover', function() {
        const postId = this.dataset.postId;
        fetch(`/blog/api/likes/${postId}/`, {
            method: 'GET',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.like_count > 0) {
                likeList.classList.add('group-hover:opacity-100', 'hover:opacity-100');
            } else {
                likeList.classList.remove('group-hover:opacity-100', 'hover:opacity-100');
            }
        });
    })

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% include "blog/includes/tukanchamon.html" %}
{% include "blog/includes/cuica-course-form.html" %}
{% endblock %}