{% extends "base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="bg-green-700 py-8 flex-grow">
    <div class="max-w-3xl md:max-w-5xl mx-auto p-4">
        <div class="bg-white rounded-xl overflow-hidden drop-shadow">
            <div class="relative aspect-w-16 aspect-h-4">
            {% if page.image %}
                {% picture page.image format-{webp,avif,jpeg} fill-1024x320 bgcolor-3730a3 %}
            {% else %}
                <div class="h-80 bg-gray-300"></div>
            {% endif %}
                <div class="h-full absolute top-0 p-4 w-full flex flex-col justify-end bg-gradient-to-t to-transparent from-yellow-500">
                    <h1 class="bold text-4xl mb-0 text-black">
                        {{ page.title }}
                    </h1>
                    <div class="flex items-center justify-between gap-4">
                        <p>{{ page.specific.date | date:"F j, Y | H:i" }}</p>
                        <div class="flex flex-row items-center gap-4">
                            {% if page.owner.first_name and page.owner.last_name %}
                                <p> {{page.owner.first_name}} {{page.owner.last_name}} </p>
                            {% else %}
                                <p> {{page.owner }} </p>
                            {% endif %}

                            {% if page.owner.wagtail_userprofile.avatar %}
                                <img src="{{ page.owner.wagtail_userprofile.avatar.url }}" alt="{{ request.user.get_full_name }}" class="rounded-full" style="width: 40px; height: 40px">
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex ml-auto items-center gap-4">
                        <p>{{ page.hero_text }}</p>
                        {% if page.hero_cta_link %}
                        <a href="{% pageurl page.hero_cta_link %}" class="bg-blue-700 text-white px-4 py-2 rounded-lg no-underline hover:text-amber-300 transition-colors drop-shadow">
                            {% firstof page.hero_cta page.hero_cta_link.title %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <article class="prose w-full max-w-none p-4">
                {{ page.body|richtext }}
            </article>

            <div class="p-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for item in page.gallery_images.all %}
                <div class="bg-white rounded-xl overflow-hidden drop-shadow group hover:rotate-3 transition-transform">
                    {% image item.image fill-1920x1080 %}
                    <p class="p-2">{{ item.caption }}</p>
                </div>
            {% endfor %}   
            </div>

            <div class="inline-block w-full">
                {% include "blog/includes/comments.html" with page=page %}
            </div>

            <a href="{{ page.get_parent.url }}" class="inline-block w-full p-4 bg-gray-100 text-center hover:bg-gray-200 transition-colors" title="{% trans "Return to blog" %}">
                🔙 {% trans "Return to blog" %}
            </a>
        </div>
    </div>
</div>

{% include "blog/includes/tukanchamon.html" %}
{% include "blog/includes/cuica-course-form.html" %}

{% endblock %}