{% load i18n static cache %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags brazil_time %}

{% get_site_root as site_root %}
{% with site_name=settings.base.NavigationSettings.site_name site_logo=settings.base.NavigationSettings.site_logo %}
<header class="bg-yellow-500 font-bold">
    <div class="max-w-3xl md:max-w-5xl lg:max-w-7xl xl:max-w-[1800px] 2xl:max-w-full px-4 py-4 mx-auto flex flex-row justify-between items-center gap-3">
        {% cache 500 static_header %}
        <div class="flex items-center gap-3">
            <a href="{% pageurl site_root %}" class="inline-block">
                {% picture site_logo format-{webp,avif,jpeg} fill-64x64 bgcolor-3730a3 class="inline-block rounded-full" %}
            </a>
            
            <div class="hidden sm:block">
                <a href="/" class="text-black hover:text-black no-underline hover:underline decoration-4 underline-offset-4 decoration-wavy">
                    <h1 class="text-xl md:text-3xl font-bold">{{ site_name }}</h1>
                </a>
                <div>
                    {% include "blog/includes/brazil-time.html" %}
                </div>
            </div>
        </div>
        <ul class="flex items-center gap-3">
            {% for menuitem in site_root.get_children.live.in_menu %}
            <li>
                <a href="{% pageurl menuitem %}" class="text-white hover:text-blue-800 transition-colors">
                    <span class="text-sm md:text-base"> {{ menuitem.title }} </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endcache %}
        <div class="flex flex-row items-center gap-4">
            {% include "includes/opt-out.html" %}
            {% if user.is_authenticated %}
                {% include "notifications/includes/notifications.html" %}
            {% endif %}
            <div class="group relative z-30">
                <div
                    class="rounded-full bg-blue-800 text-white w-12 h-12 flex items-center justify-center relative z-30 cursor-pointer">
                    {% if user.is_authenticated %}
                    <span>{{ user.username|first|upper }}</span>
                    {% else %}
                    <span>?</span>
                    {% endif %}
                </div>

                <ul
                    class="list-none pl-0 mt-0 absolute -top-2 -right-2 w-48 z-30 pt-2 pb-5 bg-white rounded-3xl block opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto group-hover:drop-shadow transition">
                    <h3 class="pl-4 mt-3 font-bold">{% trans "Hello" %} {{ user.username|default:"" }}!</h3>
                    {% if user.is_staff %}
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'wagtailadmin_home' %}">
                            {% trans "Admin" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'account_email' %}">{% trans "Account" %}</a>
                    </li>
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'profile' username=user.username %}">{% trans "Profile" %}</a>
                    </li>
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'account_logout' %}?next={{request.path}}">{% trans "Sign Out" %}</a>
                    </li>
                    {% else %}
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'account_login' %}?next={{request.path}}">{% trans "Sign In" %}</a>
                    </li>
                    <li class="pl-4 mt-2">
                        <a class="text-blue-800 hover:text-blue-900 transition-colors"
                            href="{% url 'account_signup' %}?next={{request.path}}">{% trans "Sign Up" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
{% endwith %}